.teamList {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.team-member-image {
  border-radius: 50%;
}

.teamMember h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.teamMember p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.teamMemberName {
  position: relative;
  z-index: 1;
}

.teamMemberName::after {
  content: "$_";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}